*{
    margin: 0;
    padding: 0;
}
body{
    background: url("https://h5tq.moji.com/tianqi/assets/images/skin/day_1.jpg") no-repeat top center;
    background-size: cover; 
}

li{
    list-style: none;
}
.bg{
    max-width: 960px;
    height: 460px;
    margin: 10px auto 0;
    background: url(weather-min.png) no-repeat;
    background-size: 100% 100%; 
    position: relative;
}
.bg p{
    color: #fff;
    line-height: 39px;
    padding-left: 20px;
}
.bg span{
    color: orange;
}
.weather{
    max-width: 960px;
    margin: 0 auto;
    text-align: center; 
    color: #fff;
    background: rgba(0,0,0,.3);   
    
}
.bg .city{
    width: 280px;
    margin-left: 20px;
    padding-left: 10px;
    color: #000;
    line-height: 44px;
    border: none;
    outline: none;
    border-radius: 2px;
}
.weather::after{
    content: '';
    display: block;
    clear: both;
} 
.weather li{
    width: 20%;
    float: left;
    margin: 10px 0;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.2);

} 
.weather li:nth-child(1){
    width: 39%;
    border-left: none;
}
.weather li h3{
    margin-top: 10px;
    margin-bottom: 12px;
}
.weather li p{
    margin: 4px 0;
}
